$bg-dark: #191919;
$bg-lightdark: #333333;

$sidebar-min-width: 80px;
$sidebar-max-width: 260px;

body {
    background: $bg-lightdark;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: $bg-lightdark;
}
.main-panel {
    position: relative;
    float: right;
    height: 100vh;
    background: $bg-dark;
    z-index: 99;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.wrapper {
    position: relative;
    top: 0;
    height: 100vh;

    // Inactive
    .sidebar {
        width: $sidebar-min-width;

        .brand {
            a.brand-normal {
                opacity: 0;
            }
        }
        .logo {
            a.logo-normal {
                opacity: 0;
            }
        }
    }

    .main-panel {
        width: calc(100% - 80px);
    }

    // Active
    &.active {
        .sidebar {
            width: $sidebar-min-width;

            .brand {
                a.brand-normal {
                    opacity: 0;
                }
            }
            .logo {
                a.logo-normal {
                    opacity: 0;
                }
            }

            &:hover {
                width: $sidebar-max-width;

                .brand {
                    a.brand-normal {
                        display: block;
                        opacity: 1;
                    }
                }
                .logo {
                    a.logo-normal {
                        display: block;
                        opacity: 1;
                    }
                }

                + .main-panel {
                    width: calc(100% - 260px);
                }
            }
        }
    }
}

.sidebar {
    &[data-background-color="black"]{
        background-color: black;
    }
    &[data-background-color="lightdark"]{
        background-color: $bg-lightdark;
    }
    &[data-color="white"]{
        color: white;
    }
    &[data-color="lightgray"]{
        color: lightgray;
    }
    .brand {
        padding: 15px 0px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 4;

        a.brand-mini{
            opacity: 1;
            float: left;
            width: 40px;
            text-align: center;
            margin-left: 20px;
            margin-right: 15px;
        }

        a.brand-normal{
            display: block;
            opacity: 1;
            text-decoration: none;
        }
        .brand-text{
            display: inline-block;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 4px;
            color: white;
            white-space: nowrap;
            line-height: 50px;
            overflow: hidden;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: rgba(180,180,180, .3);
        }
    }

    .sidebar-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;

        padding-bottom: 30px;

        .logo {
            padding: 15px 0px;
            margin: 0;
            display: block;
            position: relative;
            z-index: 4;

            a.logo-mini{
                opacity: 1;
                float: left;
                width: 40px;
                text-align: center;
                margin-left: 20px;
                margin-right: 15px;

                i {
                    font-size: 24px;
                    color: white;
                }
            }

            a.logo-normal{
                display: block;
                opacity: 1;
                text-decoration: none;
            }
            .logo-text{
                display: inline-block;
                color: white;
                white-space: nowrap;
                line-height: 50px;
                overflow: hidden;
            }
            /*&:after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 15px;
                height: 1px;
                width: calc(100% - 30px);
                background-color: rgba(180,180,180, .3);
            }*/
        }
        .nav {
            margin-top: 15px;
            display: block;

            .nav-item {
                padding: 15px 0px;
                margin: 0;
                display: block;
                position: relative;
                z-index: 4;

                a.logo-mini{
                    opacity: 1;
                    float: left;
                    width: 40px;
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 15px;
    
                    i {
                        font-size: 30px;
                        color: white;
                    }
                }
    
                a.logo-normal{
                    display: block;
                    opacity: 1;
                    text-decoration: none;
                }
                .simple-text{
                    display: inline-block;
                    color: white;
                    white-space: nowrap;
                    line-height: 50px;
                    overflow: hidden;
                }
            }
        }
    }
}

// Animation
.sidebar,
.main-panel,
.sidebar-wrapper{
    -webkit-transition-property: top,bottom,width;
    transition-property: top,bottom, width;
    -webkit-transition-duration: .2s,.2s, .35s;
    transition-duration: .2s,.2s, .35s;
    -webkit-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}