
<div class="brand">
    <a class="brand-text brand-mini">
        <div class="logo-img">
            <img src="../../assets/img/blockcode_logo.svg" alt="BC">
        </div>
    </a>
    <a class="brand-text brand-normal">
        BlockCode
    </a>
</div>

<div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
            <a *ngIf="menuItem.type === 'link'" class="simple-text logo-mini">
                <i class="{{menuItem.icontype}}"></i>
            </a>
            <a class="simple-text logo-normal">
                    {{ menuItem.title }}
            </a>
        </li>
    </ul>

    <div class="logo">
        <a class="simple-text logo-mini">
            <!--<img src="../../assets/img/blockcode_logo.svg" alt="BC">-->
            <i class="fas fa-project-diagram"></i>
        </a>
        <a class="simple-text logo-normal">
            Projects
        </a>
    </div>  
</div>